@font-face {
    font-family: 'ErSketch';
    src: url('/blog/static/ersketch.woff2') format('woff2'), url('/blog/static/ersketch.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap-s: 8px;
    --gap-m: 16px;
    --gap-l: 32px;
    --border-radius: 4px;
    --color-text: #222;
    --color-link-hover: #203ba8;
    --color-link: #265bfb;
    --color-link-visited: #522784;
    --layout-width: calc(100vw - var(--gap-m) * 2);
    --layout-max-width: 800px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0 0 var(--gap-m) 0;
}

a {
    text-decoration: none;
}

a:not(:hover) {
    color: var(--color-link);
}

a:not(:hover):visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}

.navigation {
    display: grid;
    grid-auto-flow: column;
    gap: var(--gap-m);
    justify-content: center;
}

.navigation__link {
    --pagination-link-size: 32px;
    display: flex;
    min-width: var(--pagination-link-size);
    height: var(--pagination-link-size);
    text-align: center;
    border-radius: var(--border-radius);
    color: black;
    align-items: center;
    justify-content: center;
}

.navigation__number {
    border: 1px solid currentColor;
}

.navigation__link:not([href]) {
    color: #ccc;
}

.pagination__pages {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: var(--gap-s);
}

.layout {
    max-width: var(--layout-max-width);
    width: var(--layout-width);
    margin: auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    position: relative;
    padding: var(--gap-m) 0;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    picture img {
        max-width: var(--layout-width);
        height: auto;
    }
}
