h1 {
    font-family: ErSketch;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: normal;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--gap-l);
    margin-bottom: var(--gap-l);
}

.preview {
    display: grid;
    row-gap: var(--gap-s);
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'cover title' 'cover content';
    max-width: var(--layout-width);
}

.preview__cover {
    grid-area: cover;
    max-height: 107px;
    width: 107px;
    margin-right: var(--gap-m);
    overflow: hidden;
}

.preview__image {
    object-fit: cover;
}

.preview__title {
    grid-area: title;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.preview__content {
    grid-area: content;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    color: var(--color-text);
    white-space: pre-wrap;
}

.header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: var(--gap-m);
    margin-bottom: var(--gap-l);
    align-items: center;
}

.header h1 {
    margin: 0;
}
