:root {
    --gap-s: 8px;
    --gap-m: 16px;
    --gap-l: 32px;
    --border-radius: 4px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.navigation {
    display: grid;
    grid-auto-flow: column;
    gap: var(--gap-m);
    justify-content: center;
}

.navigation__link {
    --pagination-link-size: 32px;
    display: block;
    width: var(--pagination-link-size);
    height: var(--pagination-link-size);
    line-height: var(--pagination-link-size);
    text-align: center;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    color: black;
}

.navigation__link:not([href]) {
    color: #ccc;
}

.pagination__pages {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: var(--gap-s);
}

.layout {
    max-width: 800px;
    padding: var(--gap-m);
    margin: auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    box-sizing: border-box;
}
